 2-removebg-preview.png
        2.png
        32307850_822626037927476_2744810652802482176_n.jpg
        BBBack and Red Simple Tips How To Be A Programmer Youtube Thumbnail (5).png
        BBlack and Red Simple Tips How To Be A Programmer Youtube Thumbnail (4).png
        Black and Red Simple Tips How To Be A Programmer Youtube Thumbnail (2).png
        Calculator.html
        DSC_0833nik-removebg-preview.png
        IMG_20201207_214817-removebg-preview.png
        IMG_20210309_105120.jpg
        Navbar.css
        Navbar.html
        Resume-Nikesh-Yadav (1).pdf
        coding.png
        csscheatsheet.pdf
        download.jpeg
        first website.css
        first website.html
        form.html
        heropic.jpg
        hhhhh.css
        hhhhh.html
        images.html
        index.html
        list.html
        logo nikesh.png
        navigation.css
        navigation.html
        nikeshydv.css
        nikeshydv.html
        nubelson-fernandes--Xqckh_XVU4-unsplash.jpg
        portfolio.css
        project.css
        project.html
        protfolio.html
        regler.css
        regler.html
        table.html
        timetable.html
        training.css
        training.html